.container {
  display: flex;

  .memoTextarea {
    width: 60%;
    height: 100vh;
    padding: 20px;
    font-size: 16px;
  }

  .chatGptArea {
    width: 40%;
    height: 100vh;
    padding: 10px;

    .chatGptArea__chat {
      border: solid 1px;
      border-radius: 10px;
      padding: 20px;
      background-color: white;
      white-space: pre-wrap;
    }
  }
}
